@model DS_ArthurGOAREGUER.Models.Organisation

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tournoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tournoi.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Personne.DateNaissance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poste)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poste.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
