@model DS_ArthurGOAREGUER.Models.Resultat

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de vouloir supprimer ceci ?</h3>
<div>
    <h4>Résultat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Championnat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Championnat.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personne1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Personne1.PrenomNom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Personne2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Personne2.PrenomNom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
