@model IEnumerable<DS_ArthurGOAREGUER.Models.Participant>

@{
    ViewData["Title"] = "Participants";
}

<h2>Participants</h2>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Championnat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Championnat.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personne.PrenomNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
